<div id="<%= dom_id o_proposta %>">
  <p>
    <strong>O solicitacao:</strong>
    <%= o_proposta.o_solicitacao_id %>
  </p>

  <p>
    <strong>A empresa prestador:</strong>
    <%= o_proposta.a_empresa_prestador_id %>
  </p>

  <p>
    <strong>Usuario envio:</strong>
    <%= o_proposta.usuario_envio_id %>
  </p>

  <p>
    <strong>O status:</strong>
    <%= o_proposta.o_status_id %>
  </p>

  <p>
    <strong>Valor total:</strong>
    <%= o_proposta.valor_total %>
  </p>

  <p>
    <strong>Prazo execucao dias:</strong>
    <%= o_proposta.prazo_execucao_dias %>
  </p>

  <p>
    <strong>Validade proposta:</strong>
    <%= o_proposta.validade_proposta %>
  </p>

  <p>
    <strong>Observacao:</strong>
    <%= o_proposta.observacao %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= o_proposta.created_by %>
  </p>

  <p>
    <strong>Updated by:</strong>
    <%= o_proposta.updated_by %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= o_proposta.deleted_at %>
  </p>

</div>
