<div id="<%= dom_id o_solicitacao %>">
  <p>
    <strong>C condominio:</strong>
    <%= o_solicitacao.c_condominio_id %>
  </p>

  <p>
    <strong>Responsavel:</strong>
    <%= o_solicitacao.responsavel %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= o_solicitacao.telefone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= o_solicitacao.email %>
  </p>

  <p>
    <strong>O tipo solicitacao:</strong>
    <%= o_solicitacao.o_tipo_solicitacao_id %>
  </p>

  <p>
    <strong>Local:</strong>
    <%= o_solicitacao.local %>
  </p>

  <p>
    <strong>O urgencia:</strong>
    <%= o_solicitacao.o_urgencia_id %>
  </p>

  <p>
    <strong>C centro custo:</strong>
    <%= o_solicitacao.c_centro_custo_id %>
  </p>

  <p>
    <strong>Data publicacao:</strong>
    <%= o_solicitacao.data_publicacao %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= o_solicitacao.descricao %>
  </p>

</div>
