<div id="<%= dom_id o_solicitacao %>">
  <p>
    <strong>Numero:</strong>
    <%= o_solicitacao.numero %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= o_solicitacao.descricao %>
  </p>

  <p>
    <strong>Observacao:</strong>
    <%= o_solicitacao.observacao %>
  </p>

  <p>
    <strong>A status:</strong>
    <%= o_solicitacao.a_status_id %>
  </p>

  <p>
    <strong>O urgencia:</strong>
    <%= o_solicitacao.o_urgencia_id %>
  </p>

  <p>
    <strong>O tipo solicitacao:</strong>
    <%= o_solicitacao.o_tipo_solicitacao_id %>
  </p>

  <p>
    <strong>O categoria servico:</strong>
    <%= o_solicitacao.o_categoria_servico_id %>
  </p>

  <p>
    <strong>C condominio:</strong>
    <%= o_solicitacao.c_condominio_id %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= o_solicitacao.created_by %>
  </p>

  <p>
    <strong>Updated by:</strong>
    <%= o_solicitacao.updated_by %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= o_solicitacao.deleted_at %>
  </p>

</div>
