<%= render "shared/context_nav",title: t("activerecord.models.#{OSolicitacao.model_name.i18n_key}.other"),new_path: new_o_solicitacao_path do %>
  <span class="breadcrumb-item active">
    <%= t("activerecord.models.#{OSolicitacao.model_name.i18n_key}.other") %>
  </span>
<% end %>
<div class="card">
  <div class="card-header d-flex">
    <%= search_form_for @q,
          html: { class: "d-flex gap-2", autocomplete: "off" } do |f| %>
      <%= f.search_field :numero_cont,
            class: "form-control",
            placeholder: "Pesquisar" %>
      <%= f.button(type: "submit", class: "btn btn-info") do %>
        <i class="ph-magnifying-glass"></i>
      <% end %>
      <%= link_to tag.i(class: "ph-x-circle"),
                  o_solicitacoes_path,
                  class: "btn btn-light" if params[:q] %>
    <% end %>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-sm table-bordered table-striped">
        <thead>
          <tr>
            <th class="text-center">Ações</th>
            <th>Descrição</th>
            <th>Observação</th>
            <th>Status</th>
            <th>Urgência</th>
            <th>Categoria</th>
            <th>Condomínio</th>
            <th>Data Limite</th>
          </tr>
        </thead>
        <tbody>
          <% @o_solicitacoes.each do |o_solicitacao| %>
            <tr>
              <td class="text-center">
                <div class="dropdown dropstart position-static">
                  <a href="#" class="text-body" data-bs-toggle="dropdown">
                    <i class="ph-gear"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-end">
                    <div class="dropdown-header">Opções</div>
                    <%= link_to edit_o_solicitacao_path(o_solicitacao),
                                class: "dropdown-item" do %>
                      <i class="ph-pen me-2"></i> Editar
                    <% end %>
                    <% if o_solicitacao.o_status&.descricao == "Pendente" %>
                      <%= button_to publicar_o_solicitacao_path(o_solicitacao),
                            method: :patch,
                            form: { class: "d-inline" },
                            class: "dropdown-item text-success",
                            data: { confirm: "Deseja publicar esta solicitação?" } do %>
                        <i class="ph-upload-simple me-2"></i> Publicar
                      <% end %>
                    <% end %>
                    <div class="dropdown-divider"></div>
                    <%= form_for o_solicitacao, method: :delete do |f| %>
                      <a class="dropdown-item text-danger hand-pointer"
                         data-confirm-delete="<%= o_solicitacao_path(o_solicitacao) %>"
                         data-csrf-token="<%= form_authenticity_token %>">
                        <i class="ph-trash-simple me-2"></i> Excluir
                      </a>
                    <% end %>
                  </div>
                </div>
              </td>
              <td><%= o_solicitacao.descricao %></td>
              <td><%= o_solicitacao.observacao %></td>
              <td><%= o_solicitacao.o_status&.descricao %></td>
              <td><%= o_solicitacao.o_urgencia&.descricao %></td>
              <td><%= o_solicitacao.o_categoria_servico&.descricao %></td>
              <td><%= o_solicitacao.c_condominio&.nome %></td>
              <td>
                <%= o_solicitacao.data_limite_publicacao&.strftime("%d/%m/%Y %H:%M") || "-" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer">
    <%= pagy_bootstrap_nav(@pagy,
          link_extra: 'class="btn btn-outline-secondary btn-sm mx-1"').html_safe %>
  </div>
</div>
