<div class="container">
  <%= render "shared/notice" %>
  <div class="card border-0 shadow shadow-sm">
    <div class="card-header border-0 d-flex justify-content-between">
      <span class="fs-4">Visualizar O Solicitacao</span>
    </div>
    <div class="card-body">
      <div id="<%= dom_id @o_solicitacao %>">
          <p>
            <strong>Numero:</strong>
            <%= @o_solicitacao.numero %>
          </p>
          <p>
            <strong>Descricao:</strong>
            <%= @o_solicitacao.descricao %>
          </p>
          <p>
            <strong>Observacao:</strong>
            <%= @o_solicitacao.observacao %>
          </p>
          <p>
            <strong>A Status:</strong>
            <%= @o_solicitacao.a_status %>
          </p>
          <p>
            <strong>O Urgencia:</strong>
            <%= @o_solicitacao.o_urgencia %>
          </p>
          <p>
            <strong>O Tipo Solicitacao:</strong>
            <%= @o_solicitacao.o_tipo_solicitacao %>
          </p>
          <p>
            <strong>O Categoria Servico:</strong>
            <%= @o_solicitacao.o_categoria_servico %>
          </p>
          <p>
            <strong>C Condominio:</strong>
            <%= @o_solicitacao.c_condominio %>
          </p>
          <p>
            <strong>Created By:</strong>
            <%= @o_solicitacao.created_by %>
          </p>
          <p>
            <strong>Updated By:</strong>
            <%= @o_solicitacao.updated_by %>
          </p>
          <p>
            <strong>Deleted At:</strong>
            <%= @o_solicitacao.deleted_at %>
          </p>
      </div>
    </div>
    <div class="card-footer border-0 d-flex justify-content-between">
      <div>
        <%= link_to edit_o_solicitacao_path(@o_solicitacao), class: "btn btn-primary" do %>
        <i class="bi bi-pencil-square"></i> Editar
        <% end %>
        <%= link_to "Voltar", o_solicitacoes_path, class: "btn btn-secondary" %>
      </div>
      <%= button_to "Deletar", @o_solicitacao, method: :delete, class: "btn btn-outline-danger border-0" %>
    </div>
  </div>
</div>
