<div class="container">
  <%= render "shared/notice" %>
  <div class="card border-0 shadow shadow-sm">
    <div class="card-header border-0 d-flex justify-content-between">
      <span class="fs-4">Visualizar O Status</span>
    </div>
    <div class="card-body">
      <div id="<%= dom_id @o_status %>">
          <p>
            <strong>Descricao:</strong>
            <%= @o_status.descricao %>
          </p>
      </div>
    </div>
    <div class="card-footer border-0 d-flex justify-content-between">
      <div>
        <%= link_to edit_o_status_path(@o_status), class: "btn btn-primary" do %>
        <i class="bi bi-pencil-square"></i> Editar
        <% end %>
        <%= link_to "Voltar", o_status_path, class: "btn btn-secondary" %>
      </div>
      <%= button_to "Deletar", @o_status, method: :delete, class: "btn btn-outline-danger border-0" %>
    </div>
  </div>
</div>
