<div id="<%= dom_id t_taxa %>">
  <p>
    <strong>Nome:</strong>
    <%= t_taxa.nome %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= t_taxa.descricao %>
  </p>

  <p>
    <strong>Percentual:</strong>
    <%= t_taxa.percentual %>
  </p>

  <p>
    <strong>A status:</strong>
    <%= t_taxa.a_status_id %>
  </p>

</div>
