<%= render "shared/context_nav", title: t("activerecord.models.user.other"), new_path: new_user_path do  %>
  <span class="breadcrumb-item active"><%= t("activerecord.models.user.other") %></span>
<% end %>
<div class="card">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-sm table-bordered table-striped">
        <thead>
          <tr>
            <th class="text-center">Ações</th>
            <th><%= sort_link(@q, :nome, t("activerecord.attributes.user.nome")) %></th>
            <th><%= sort_link(@q, :email, t("activerecord.attributes.user.email")) %></th>
            <th><%= sort_link(@q, :telefone, t("activerecord.attributes.user.telefone")) %></th>
            <th><%= sort_link(@q, :a_tipo_usuario, t("activerecord.attributes.user.a_tipo_usuario")) %></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td class="text-center">
                <div class="dropdown-toggle">
                  <a href="#" class="text-body dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="ph ph-gear"></i>
                  </a>
                  <div class="dropdown-menu">
                    <div class="dropdown-header"><%= t("common.table_dropdown_options") %></div>
                    <%= link_to content_tag(:i, "", class: "ph ph-pen me-2") + t("common.actions.edit"), edit_user_registration_path(user), class: "dropdown-item" %>
                    <%= form_for user, method: :delete do |f| %>
                      <button class="dropdown-item" data-confirm-delete="<%= user_path(user) %>" data-csrf-token="<%= form_authenticity_token %>">
                        <i class="ph ph-trash me-2"></i><%= t("common.actions.delete") %>
                      </button>
                    <% end %>
                  </div>
                </div>
              </td>
              <td><%= user.nome %></td>
              <td><%= user.email %></td>
              <td><%= user.telefone %></td>
              <td><%= user.a_tipo_usuario.descricao %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer">
    <%= pagy_bootstrap_nav(@pagy, link_extra: 'class="btn btn-outline-secondary btn-sm mx-1"').html_safe %>
  </div>
</div>
