<div id="<%= dom_id p_prestador %>">
  <p>
    <strong>Empresa nome:</strong>
    <%= p_prestador.empresa_nome %>
  </p>

  <p>
    <strong>Cnpj:</strong>
    <%= p_prestador.cnpj %>
  </p>

  <p>
    <strong>P categoria:</strong>
    <%= p_prestador.p_categoria_id %>
  </p>

  <p>
    <strong>G tipo usuario:</strong>
    <%= p_prestador.g_tipo_usuario_id %>
  </p>

  <p>
    <strong>G status usuario:</strong>
    <%= p_prestador.g_status_usuario_id %>
  </p>

</div>
