<div id="<%= dom_id c_sindico %>">
  <p>
    <strong>Nome:</strong>
    <%= c_sindico.nome %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= c_sindico.email %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= c_sindico.telefone %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= c_sindico.cpf %>
  </p>

  <p>
    <strong>Matricula:</strong>
    <%= c_sindico.matricula %>
  </p>

  <p>
    <strong>C condominio:</strong>
    <%= c_sindico.c_condominio_id %>
  </p>

  <p>
    <strong>G tipo usuario:</strong>
    <%= c_sindico.g_tipo_usuario_id %>
  </p>

  <p>
    <strong>G status usuario:</strong>
    <%= c_sindico.g_status_usuario_id %>
  </p>

</div>
