<div class="container">
  <%= render "shared/notice" %>
  <div class="card border-0 shadow shadow-sm">
    <div class="card-header border-0 d-flex justify-content-between">
      <span class="fs-4">Visualizar C Sindico</span>
    </div>
    <div class="card-body">
      <div id="<%= dom_id @c_sindico %>">
          <p>
            <strong>Nome:</strong>
            <%= @c_sindico.nome %>
          </p>
          <p>
            <strong>Email:</strong>
            <%= @c_sindico.email %>
          </p>
          <p>
            <strong>Telefone:</strong>
            <%= @c_sindico.telefone %>
          </p>
          <p>
            <strong>Cpf:</strong>
            <%= @c_sindico.cpf %>
          </p>
          <p>
            <strong>Matricula:</strong>
            <%= @c_sindico.matricula %>
          </p>
          <p>
            <strong>C Condominio:</strong>
            <%= @c_sindico.c_condominio %>
          </p>
          <p>
            <strong>G Tipo Usuario:</strong>
            <%= @c_sindico.g_tipo_usuario %>
          </p>
          <p>
            <strong>G Status Usuario:</strong>
            <%= @c_sindico.g_status_usuario %>
          </p>
      </div>
    </div>
    <div class="card-footer border-0 d-flex justify-content-between">
      <div>
        <%= link_to edit_c_sindico_path(@c_sindico), class: "btn btn-primary" do %>
        <i class="bi bi-pencil-square"></i> Editar
        <% end %>
        <%= link_to "Voltar", c_sindicos_path, class: "btn btn-secondary" %>
      </div>
      <%= button_to "Deletar", @c_sindico, method: :delete, class: "btn btn-outline-danger border-0" %>
    </div>
  </div>
</div>
