<div id="<%= dom_id o_ordem_servico %>">
  <p>
    <strong>O proposta:</strong>
    <%= o_ordem_servico.o_proposta_id %>
  </p>

  <p>
    <strong>C condominio:</strong>
    <%= o_ordem_servico.c_condominio_id %>
  </p>

  <p>
    <strong>A empresa prestador:</strong>
    <%= o_ordem_servico.a_empresa_prestador_id %>
  </p>

  <p>
    <strong>Valor total:</strong>
    <%= o_ordem_servico.valor_total %>
  </p>

  <p>
    <strong>Prazo execucao dias:</strong>
    <%= o_ordem_servico.prazo_execucao_dias %>
  </p>

  <p>
    <strong>Data inicio:</strong>
    <%= o_ordem_servico.data_inicio %>
  </p>

  <p>
    <strong>Data fim:</strong>
    <%= o_ordem_servico.data_fim %>
  </p>

  <p>
    <strong>O status:</strong>
    <%= o_ordem_servico.o_status_id %>
  </p>

</div>
