<div id="<%= dom_id a_empresa_prestador %>">
  <p>
    <strong>Nome fantasia:</strong>
    <%= a_empresa_prestador.nome_fantasia %>
  </p>

  <p>
    <strong>Razao social:</strong>
    <%= a_empresa_prestador.razao_social %>
  </p>

  <p>
    <strong>Cnpj:</strong>
    <%= a_empresa_prestador.cnpj %>
  </p>

  <p>
    <strong>Endereco:</strong>
    <%= a_empresa_prestador.endereco %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= a_empresa_prestador.telefone %>
  </p>

  <p>
    <strong>Contato:</strong>
    <%= a_empresa_prestador.contato %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= a_empresa_prestador.email %>
  </p>

  <p>
    <strong>A status:</strong>
    <%= a_empresa_prestador.a_status_id %>
  </p>

  <p>
    <strong>G municipio:</strong>
    <%= a_empresa_prestador.g_municipio_id %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= a_empresa_prestador.created_by %>
  </p>

  <p>
    <strong>Updated by:</strong>
    <%= a_empresa_prestador.updated_by %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= a_empresa_prestador.deleted_at %>
  </p>

</div>
