<div id="<%= dom_id c_cartao %>">
  <p>
    <strong>Codigo cartao:</strong>
    <%= c_cartao.codigo_cartao %>
  </p>

  <p>
    <strong>Qrcode:</strong>
    <%= c_cartao.qrcode %>
  </p>

  <p>
    <strong>C tipo cartao:</strong>
    <%= c_cartao.c_tipo_cartao_id %>
  </p>

  <p>
    <strong>C nivel cartal:</strong>
    <%= c_cartao.c_nivel_cartal_id %>
  </p>

</div>
