<div id="<%= dom_id c_centro_custo %>">
  <p>
    <strong>Custo:</strong>
    <%= c_centro_custo.custo %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= c_centro_custo.nome %>
  </p>

  <p>
    <strong>C tipo centro custo:</strong>
    <%= c_centro_custo.c_tipo_centro_custo_id %>
  </p>

  <p>
    <strong>C condominio:</strong>
    <%= c_centro_custo.c_condominio_id %>
  </p>

  <p>
    <strong>Valor inicial:</strong>
    <%= c_centro_custo.valor_inicial %>
  </p>

  <p>
    <strong>Saldo atual:</strong>
    <%= c_centro_custo.saldo_atual %>
  </p>

</div>
