<%= render "shared/context_nav", title: t("activerecord.models.#{CCentroCusto.model_name.i18n_key}.other"), new_path: new_c_centro_custo_path do  %>
  <span class="breadcrumb-item active"><%= t("activerecord.models.#{CCentroCusto.model_name.i18n_key}.other") %></span>
<% end %>
<div class="card">
  <div class="card-header d-flex">
    <%= search_form_for @q, html: { class: "d-flex gap-2" , autocomplete: "off"} do |f| %>
      <%= f.search_field :custo_cont, class: "form-control", placeholder: "Pesquisar" %>
      <%= f.button(type: 'submit', class: 'btn btn-info') { tag.i(class: 'ph-magnifying-glass') } %>
      <%= link_to  tag.i(class: 'ph-x-circle'), c_centros_custos_path, class: "btn btn-light" if params[:q] %>
    <% end %>
  </div>
  <div class="card-body">
    <div class= "table-responsive">
      <table class="table table-sm table-bordered table-striped">
        <thead>
          <tr>
            <th class="text-center">Ações</th>
            <th><%= sort_link(@q, :nome, t("activerecord.attributes.c_centro_custo.nome")) %></th>
            <th><%= sort_link(@q, :c_tipo_centro_custo, t("activerecord.attributes.c_centro_custo.tipo_centro_custo")) %></th>
            <th><%= sort_link(@q, :c_condominio, t("activerecord.attributes.c_centro_custo.condominio")) %></th>
            <th><%= sort_link(@q, :valor_inicial, t("activerecord.attributes.c_centro_custo.valor_inicial")) %></th>
            <th><%= sort_link(@q, :saldo_atual, t("activerecord.attributes.c_centro_custo.saldo_atual")) %></th>
          </tr>
        </thead>
        <tbody>
          <% @c_centros_custos.each do |c_centro_custo| %>
            <tr>
              <td class="text-center">
                <div class="dropdown-toggle">
                  <a href="#" class="text-body dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="ph-gear"></i>
                  </a>
                  <div class="dropdown-menu" style="">
                    <div class="dropdown-header">Opções</div>
                    <%= link_to edit_c_centro_custo_path(c_centro_custo), class: "dropdown-item" do %>
                      <i class="ph-pen me-2"></i> Editar
                    <% end %>
                    <%= form_for c_centro_custo, method: :delete do |f| %>
                      <a class="dropdown-item hand-pointer " data-confirm-delete="<%= c_centro_custo_path(c_centro_custo) %>" data-csrf-token="<%= form_authenticity_token %>">
                        <i class="ph-trash-simple me-2"></i>Excluir
                      </a>
                    <% end %>
                    <td><%= c_centro_custo.nome %></td>
                    <td><%= c_centro_custo.c_tipo_centro_custo&.descricao %></td>
                    <td><%= c_centro_custo.c_condominio&.nome %></td>
                    <td><%= c_centro_custo.valor_inicial %></td>
                    <td><%= c_centro_custo.saldo_atual %></td>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer">
    <%= pagy_bootstrap_nav(@pagy, link_extra: 'class="btn btn-outline-secondary btn-sm mx-1"').html_safe %>
  </div>
</div>
